<font size = "6">**2. STRING OPERATIONS**

- String Methods and function
- Concatenation of String

<font size = "5">**2.1. CONCATENATION OF STRINGS**

- METHODS

**2.1.1 string.upper(): Converts the string into upper case**

In [3]:
book_name = "Discovery of India"

In [11]:
print(book_name)

Discovery of India

In [4]:
print(book_name.upper())

DISCOVERY OF INDIA

In [9]:
print(book_name) # book_name reamains unchanged

Discovery of India

In [14]:
caps_book_name = book_name.upper() # Assigning the book_name is upper-case to a new varaible caps_book_name
print(caps_book_name)
print(book_name)

DISCOVERY OF INDIA
Discovery of India

In [18]:
# Changing the varaible book_name by ressignment
book_name = book_name.upper()
print(book_name)

DISCOVERY OF INDIA

**2.1.2. string.lower(): Converts a string into lower case**

In [21]:
book_name = "Discovery of India"

In [22]:
print(book_name)

Discovery of India

In [23]:
print(book_name.lower())

discovery of india

In [25]:
print(book_name) # book_name remains unchanged

Discovery of India

In [27]:
low_book_name = book_name.lower() # Assigning the book_name is lower-case to a new variable low_book_name

In [28]:
print(low_book_name)

discovery of india

In [29]:
print(book_name)

Discovery of India

In [32]:
# Changing the variables book_name to lower-case by reassigment
book_name = book_name.lower()

In [33]:
print(book_name)

discovery of india

**2.1.3. string.replace(value1 , value2): Returs a string where value1 is replaced with value2**

In [12]:
book_name = "The Killing Floor"

In [13]:
book_name.replace("i","$")

'The K$ll$ng Floor'

In [36]:
print(book_name)

The Killing Floor

In [14]:
book_name = book_name.replace("o","@")

In [15]:
print(book_name)

The Killing Fl@@r

In [41]:
# Replacing more than one character in a string

In [42]:
lines = "python is easy . python is general purpose"
lines.replace("python","java")

'java is easy . java is general purpose'

In [43]:
print(lines) # Lines remains unchagned

python is easy . python is general purpose

In [45]:
lines = lines.replace("python", "java")

In [46]:
print(lines)

java is easy . java is general purpose

**2.1.4 string.count(value): Returns the number of times a specified value occurs in a string**

In [2]:
# string.count()
district = "Nainital"
print(district.count("i")) # Counts the number of times "i" occurs in the string "Nainital"

2

In [4]:
haldwani_info = "Haldwani is called the Gateway to Kumaon. Haldwani is a global AI & Robotics Hub."
haldwani_info.count("Haldwani")

2

In [5]:
haldwani_info.count("is")

2

In [6]:
haldwani_info.count("a")

10

In [7]:
haldwani_info.count("Uttarakhand")

0

**2.1.5.string.endswith(value): Returns True if the string ends with the specified value**

In [14]:
# string.endswith()
x = "Hello World"
x.endswith("World")

True

In [15]:
x.endswith("d")

True

In [19]:
x.endswith("world")

False

**2.1.6.string.startswith(value): Returns True if the string starts with the specified value**

In [26]:
# string.startswith()
x = "Hello World"
x.startswith("H")

True

In [27]:
x.startswith("he")

False

In [28]:
x.startswith("He")

True

**2.1.7.string.split(separator): Used to dicide a string into a list of substrings based on a specified separator.**

In [20]:
# string.split()
x = "Hello World"
x.split("W")

['Hello ', 'orld']

In [21]:
print(x.split("W"))

['Hello ', 'orld']

In [22]:
x.split("o")

['Hell', ' W', 'rld']

In [23]:
x.split("rl")

['Hello Wo', 'd']

**2.1.8. string.find(character)**

Finds the index at which character occurs for the first time

In [25]:
# sting.find() - Index at which "o" occurs for the first time
x = "Hello world"
x.find("o")

4

In [26]:
x.find("wo")

6

In [27]:
# What if I try to find a character which is not present in the string??
x.find("y")

-1

In [1]:
x = "hello world"
x.find("0") # It will give -1 when we enter the character which is not present in the string

-1

- FUNCTION

**2.1.9. len(string)**

Counts the number of characters in the string

In [30]:
# len() - Counts the no of characters in the string
x = "o"
len(x)

1

In [31]:
len(" pyhton")

7

**2.1.10. Concatenation: Joining two or more string to form a single string**

In [32]:
"hello" + "world"

'helloworld'

In [5]:
"Python" + " is " + "easy" + "."

'Python is easy.'

In [20]:
a = "Pyhton"
b = " is"
c = " "
d = "easy"
f = "."
g = "?"
e = a + f + c + b + c + d  + g
print(e)

Pyhton.  is easy?

In [4]:
 name = "My " + "name " + "is " + "abdullah "
print(name)

My name is abdullah

In [5]:
name.split("a")

['My n', 'me is ', 'bdull', 'h ']

In [6]:
name.count("a")

3

In [9]:
print(name.upper())
print(name.lower())

MY NAME IS ABDULLAH
my name is abdullah

In [10]:
name.find("ah")

17

In [11]:
len(name)

20