<font size ="6">**Python Data Structure**

<font size = "5">**1.List**

**Defonation :** A list in an **ordered , mutable** collection in python.

- Allows duplicates
- Elements can be of mixed data types
- Supports indexing (positive and negative)

<font size = "4">**Creating lists**

In [3]:
nums = [10,20,30]
fruits = ["Mango", "Apple" ," Banana"]
mixed = [1, "two",3.0 , [4,5]]

print("Numbers:",nums)
print("Fruits:",fruits)
print("Mixed:",mixed)

Numbers: [10, 20, 30]
Fruits: ['Mango', 'Apple', ' Banana']
Mixed: [1, 'two', 3.0, [4, 5]]

In [1]:
num1 = [30,10,20 ] # Lists preserve orders
print(num1)   

num2 = [34,65,34,65]
print(num2)

[30, 10, 20]
[34, 65, 34, 65]

**1.1.   List Methods**

**1.1.1.   len()**

Note : len() is a function not a method.

In [8]:
fruits = ["Mango","Banana","Apple"]
print(len(fruits))

3

In [3]:
nums = [1,2,3,2,4,24,2,2,2,5656.45,4,34.32,35,546,]
print(len(nums))

14

In [15]:
letters = ["python","data","science","hello","world"]
print(len(letters))

5

**1.1.2. append()**

In [13]:
nums = [10,20]
nums.append(30)
print("After append:",nums)

After append: [10, 20, 30]

**1.1.3.  extend()**

In [4]:
# extend method add another list only not a single element
nums = [ 1, 2]
nums.extend([3,4,5])
print("After extend:",nums)

After extend: [1, 2, 3, 4, 5]

In [3]:
nums = [3,45,3]
nums.extend([0])
print(nums)

[3, 45, 3, 0]

In [14]:
nums = [1,23,45]
n = (3,4,5) # tuple
n1 = {23,345,56} # set
n2 = [99,990] # dictonary


nums.extend(n) # We can add another tuple by extend method.
nums.extend(n1) # We can add another set by extend method.
nums.extend(n2) # We can add another dictonary by extend method.


print(type(n))
print(type(n1))
print(type(n2))
print("After extend:",nums)

<class 'tuple'>
<class 'set'>
<class 'list'>
After extend: [1, 23, 45, 3, 4, 5, 56, 345, 23, 99, 990]

In [22]:
letters = ["python","data","science","hello","world"]
lst1 = []
lst1.extend({2,3,67})
print("After extend:",lst1)
lst1.extend(letters)
print("After extend another list:",lst1)

After extend: [3, 2, 67]
After extend another list: [3, 2, 67, 'python', 'data', 'science', 'hello', 'world']

In [7]:
n = [23,12,45,56,3]
n.extend(("Pankaj",))
print(n)

[23, 12, 45, 56, 3, 'Pankaj']

In [8]:
n = [34,534,23,22,23]
n.extend({"Name":"Pankaj","Class":12})
print(n)

[34, 534, 23, 22, 23, 'Name', 'Class']

**1.1.4.  remove(value to be removed)**

In [16]:
nums = [1,2,2,3]
nums.remove(2)
print("After remove:",nums)

After remove: [1, 2, 3]

In [26]:
nums = [1,2,3,2,[34,56,67],6]
nums.remove([34,56,67])
print("After remove :",nums)

After remove : [1, 2, 3, 2, 6]

In [6]:
nums = [1,2,2,4,5]
nums.remove(2)
print("After remove:",nums)

After remove: [1, 2, 4, 5]

In [10]:
lst = [34,23,23.78,"Pankaj","data science",56.09]
lst.remove("Pankaj")
print(lst)

[34, 23, 23.78, 'data science', 56.09]

**1.1.5.  pop(index value to be removed
)**

In [30]:
nums = [10,20,30,40]
last = nums.pop()
second = nums.pop(1)
print("Popped last:",last)
print("Popped index 1:",second)
print("List now :",nums)

Popped last: 40
Popped index 1: 20
List now : [10, 30]

In [32]:
nums = [23,34,45,56,67]
nums1 = nums.pop(-3)
print("Removed value:",nums1,"After removing the value new list:",nums)

Removed value: 45 After removing the value new list: [23, 34, 56, 67]

In [12]:
n = [45,3434,23,24,24]
n.pop(-1)
print(n)

[45, 3434, 23, 24]

**1.1.6. clear()**

In [33]:
# It will clear all value of the list.

nums = [1,2,3]
nums.clear()
print("After clear:",nums)

After clear: []

In [16]:
lst = [34,23,23.78,"Pankaj","data science",56.09]
n.clear()
print(n)

[]

**1.1.7.  index()**

In [34]:
letters = ["a","b","c","b"]
print("Index of 'b':",letters.index("b"))

Index of 'b': 1

In [1]:
words = ["d","ah","d","j","a"]
ind = words.index("d")
print("Index value :",ind)

Index value : 0

In [21]:
lst = [34,23,23.78,"Pankaj","data science",56.09]
a = lst.index("Pankaj")
print(a)

3

**1.1.8.  count()**

In [37]:
letters = ["a","b","b","c","b"]
print("After count :",letters.count("b"))

After count : 3

In [40]:
nums = [1,2,3,1,2,3,1,12,1,32,1,31,1]
count = nums.count(1)
print("After count :",count)

After count : 6

**1.1.9.  sort()**

In [4]:
nums = [5,2,9,2]
nums.sort()
print("After sorted :",nums)

After sorted : [2, 2, 5, 9]

In [27]:
letters = ["a","b",3,"hello",56,78.00,"b"]
print(letters.sort())

TypeError: '<' not supported between instances of 'int' and 'str'

In [29]:
lst = ["34","23","23.78","Pankaj","data sciencel","56.09"]
print(lst.sort())

None

**1.1.10.  sort(reverse)**

In [2]:
nums = [5,2,9,2]
nums.sort(reverse = True)
print("After sorted :",nums)

After sorted : [9, 5, 2, 2]

In [25]:
lst = ["34","23","23.78","Pankaj","data sciencel","56.09"]
a = lst.sort(reverse = True)
print(a)

None

**1.1.11. reverse()**

In [2]:
nums = [78,56,89]
nums.reverse()
print("After reverse :",nums)

After reverse : [89, 56, 78]

In [28]:
lst = ["34","23","23.78","Pankaj","data sciencel","56.09"]
lst.reverse()
print(lst)

['56.09', 'data sciencel', 'Pankaj', '23.78', '23', '34']

In [51]:
letters = ["a","b","c","h","a","k","v","z","d","e"]
letters.reverse()
print("After reverse :",letters)

After reverse : ['e', 'd', 'z', 'v', 'k', 'a', 'h', 'c', 'b', 'a']

**1.1.12  Slicing**

In [55]:
nums = [10,20,30,40,50]
print("nums[1:4] =",nums[1:4])
print("nums[:3] =",nums[:3])
print("nums[::2] =",nums[::2])
print("nums[::-1] =",nums[::-1])

nums[1:4] = [20, 30, 40]
nums[:3] = [10, 20, 30]
nums[::2] = [10, 30, 50]
nums[::-1] = [50, 40, 30, 20, 10]

**1.1.13. Concatenation and Repetation**

In [3]:
print([1,2] + [3,4]) # Concatenation
print([1,2] * 3) # Repetition

[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]

In [59]:
print([1,2,3,4,] *2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [35]:
p = [[34,56,1,2]] * 2
print(p)
print(len(p))

[[34, 56, 1, 2], [34, 56, 1, 2]]
2

**1.1.14. Membership**

In [42]:
lst = [1,2,3,4,5,6]
print(1 in lst)
print(23 in lst)

True
False

In [44]:
lst1 = ["pankaj" , "python" , "data" , "science"]
print("pankaj" in lst1)
print("hello" not in lst1)

True
True

<font size = "5">**2.  Tuples**

**Defination :** A tuple is an **ordered , immutable** collection.

- Allows duplicates
- Good for fixed records

<font size = "4">**Creating Tuples**

In [69]:
t = (10,20,30)
single = (42,)

print(type(t))
print(type(single))

print("Tuple :",t)
print("Single element tuple :", single)

<class 'tuple'>
<class 'tuple'>
Tuple : (10, 20, 30)
Single element tuple : (42,)

In [5]:
t1 = 43,
print(t1)
print(type(t1))

(43,)
<class 'tuple'>

In [7]:
t2 = 34,45,23,54,45,"python","data science"
print(t2)
print(type(t2))

(34, 45, 23, 54, 45, 'python', 'data science')
<class 'tuple'>

In [11]:
t2.index(34)

0

**2.1.   Tuple Methods**

**2.1.1. len()**

Note : len() is a funtion not a method.

In [72]:
t = (10,20,30)
print("Length :",len(t))

Length : 3

In [74]:
t = (10,20,30,40,50,60)
length = len(t)
print("Length :",length)

Length : 6

**2.1.2. tuple.count()**

In [75]:
t = (1,2,1,3,4,5,67,78,1,235,1,3,1,1,15,6)
t1 = t.count(1)
print("After count :",t1)

After count : 6

In [77]:
tup = (2,4,"python",45.09,5,"data",4,"science",7.90,"python")
print("After count : ",tup.count("python"))

After count :  2

**2.1.3.tuple.index()**

In [78]:
letters = ("a", "b", "c","d","e")
let = letters.index("e")
print("Index :",let)

Index : 4

In [79]:
print("Index :",letters.index("d"))

Index : 3

**2.1.4.   Indexing and Slicing**

In [14]:
t = ("a", "b", "c","d","e")
print("t[0] :",t[0])
print("t[-1] :",t[-1])
print("t[1:3] :",t[1:3])
t2 = t[0]
t3 = t[1:3]
print(type(t2))
print(type(t3))

t[0] : a
t[-1] : e
t[1:3] : ('b', 'c')
<class 'str'>
<class 'tuple'>

**2.1.5. Concatenation and Repetition**

In [85]:
t1 = (1,2)
t2 = (3,4)
print("t1 + t2 :",t1 + t2)
print("t1 * 3 :",t1 *3)

t1 + t2 : (1, 2, 3, 4)
t1 * 3 : (1, 2, 1, 2, 1, 2)

**2.1.5. Membership**

In [90]:
t = (1,2,3,4)
print(1 in t)
print(1 not in t)
print(5 in t)

True
False
False

<font size = "5">**3.Sets**

**Characteristics of  a Set**

A set is bulit-in data structure in Python wiht the following three characteristics

- Unordered: The items in the set are unorderd unlike list i.e. it will not maintain the order in which the items are inserted. The items will be a different order each time when we access the Set objects . There will not be any index value assigned to each item in the set.
- Unchangeable: Set items must be immutable . We cannot change the set items. But set as a variable is mutable.
- Unique: There cannot be two items with the same value in the set.
- Iterable

**Creating a set**

There are some ways to create a list
- Using curly brackets
- Using set()

**Defination :** A set is an **unordered & mutable** collection of **unique elements**.

- No Duplicates
- No Slicing/Indexing
- Great for membership tests and set operations

**Create & Deduplicate**

In [92]:
s = {1,2,3}
dedup = set([1,2,2,3,3,])
print("s :",s)
print("dedup :",dedup)

s : {1, 2, 3}
dedup : {1, 2, 3}

In [4]:
s = set("apple")
print(s)

{'p', 'l', 'a', 'e'}

In [ ]:
set1 = set(3,6) # set constructer takes only one argument
set2 = set(3) # set  constructer must have iterable data type
set3 = set([]) # empty list become empty set
set4 = set({}) # empty dict become empty set
set5 = set((4)) # since it is an int inside parentheseis and non itereable data
set6 = set((4,)) # sicnce parenthesis with coma is tuple which is iterable
set7 = set(()) # empty set

**3.1.Set Methods**

**3.1.1. len()**

In [94]:
s = {1,1,2,3}
print("Length :",len(s))

Length : 3

In [95]:
s = {1,2,43,4,212,2,345,65,423,3,4,23}
s1 = len(s)
print("Lenght :",s1)

Lenght : 10

**3.1.2.  add()**

In [99]:
s = {1,3}
b = s.add(4)
print("After adding element :",s)

After adding element : {1, 3, 4}

In [102]:
a = {21,3,23,566,2}
s1 = a.add(56)
print("Element :",s1)
print("After adding :",a)

Element : None
After adding : {2, 3, 21, 566, 23, 56}

In [12]:
a = {3,43,4,34,5}
a1 = a.add(45)
print("After adding :",a)

After adding : {34, 3, 4, 5, 43, 45}

**3.1.3.  update(iterable)**

Iterable data types: string , list , tuple , set & dictonary.

In [1]:
s ={1}
s.update({2,3},[4,5]) # update() method can update set by list , another set & tuple also.
print("After update :",s)

After update : {1, 2, 3, 4, 5}

Note : We can add another list , tuple & set in the set.

In [117]:
s = {2,}
l = [2,3,4]
s1 = s.update(l)
print(s)

{2, 3, 4}

In [5]:
s = {1}
s.update("True")
print(s)

{1, 'T', 'u', 'r', 'e'}

In [7]:
s = {2,}
print(type(s))

<class 'set'>

In [6]:
s = {1,2,3}
s.update("hello")
print(s)

{1, 2, 3, 'l', 'h', 'e', 'o'}

In [8]:
s = {}
print(type(s))

<class 'dict'>

In [120]:
s = {2,}
t = (2,)
print(type(s))
print(type(t))

<class 'set'>
<class 'tuple'>

**3.1.4.remove()**

In [11]:
s = {1,2,3}
s.remove(2)
print("After removing :",s)

After removing : {1, 3}

In [125]:
s = {"doctor","Abdullah", "Python","data", "science",4,6,2.0}
s.remove("Python")
print("After removing :",s)

After removing : {2.0, 4, 'science', 6, 'Abdullah', 'doctor', 'data'}

**3.1.5.  discard()**

In [1]:
s = {1,2,3,4,5}
s.discard(2)
print("After discard :",s)

After discard : {1, 3, 4, 5}

In [32]:
s = {"doctor","Abdullah", "Python","data", "science",4,6,2.0}
s.discard("doctor")
print("After removing :",s)

After removing : {2.0, 4, 6, 'Abdullah', 'Python', 'science', 'data'}

In [12]:
# discard will no show error when we discard the value which is not present in the set.

s = {23,3,445,2,325,446,567,34,23}
s.discard(22)
print("After discard :",s)

After discard : {2, 3, 34, 325, 23, 567, 445, 446}

In [6]:
print(s)

{3, 34, 325, 23, 567, 445, 446}

**3.1.6.pop()**

In [15]:
# WE CANNOT USE INDEXING/SLICING IN SET.

s = {10,20,30}
s.pop()
print("After pop :",s)

After pop : {20, 30}

In [26]:
s = {2,3,4,2,3,898,3,23,2,2,2,2,2,3,}
print(s.pop())
print(s)

2
{3, 4, 898, 23}

**3.1.7.  clear()**

In [18]:
s = {12,23,34,2,312,23,23,12,76}
s.clear()
print("After clear :",s)
print(s)

After clear : set()
set()

**3.1.8. union()**

In [1]:
a , b = {1,2,3} , {3,4,5}
ab = b.union(a)
print("After union :",ab)
ba = a.union(b)
print(ba)

After union : {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [22]:
a , b = {"a", "b", "c","d","python"} , {"c","d", "python", "data", "sience"}
ab = a.union(b)
print("After union: ",ab)

After union:  {'python', 'b', 'c', 'd', 'a', 'data', 'sience'}

**3.1.9. intersection()**

In [24]:
a , b = {1,2,3} , {2,3,4}
ab = a.intersection(b)
print("After intersection :",ab)

After intersection : {2, 3}

In [27]:
a ,b  = {"a","b","c","s"} , {"a","b","d","e"}
print("After intersection :",a.intersection(b))

After intersection : {'b', 'a'}

**3.1.10. difference()**

In [28]:
a , b = {1,2,3,4} , {3,4,5,6}
print("After difference :",a.difference(b))

After difference : {1, 2}

In [29]:
a , b = {1,2,3,4} , {3,4,5,6}
print("After difference :",b.difference(a))

After difference : {5, 6}

**3.1.11.  symmetric_difference()**

In [2]:
a , b = {1,2,3} , {2,3,4}
print("After symmetric_difference :",a.symmetric_difference(b))

After symmetric_difference : {1, 4}

In [3]:
a , b = {1,2,3} , {2,3,4}
print("After symmetric_difference :",b.symmetric_difference(a))

After symmetric_difference : {1, 4}

**3.1.12. issubset() , issuperset() , isdisjoint()**

In [38]:
a = {1,2}
b = {1,2,3}
c = {7,8}
print("a.issubset(b):",a.issubset(b))
print("b.issuperset(a):",b.issuperset(a))
print("a.isdisjoint(c):",a.isdisjoint(c))

a.issubset(b): True
b.issuperset(a): True
a.isdisjoint(c): True

**TYPE CASTING**

In [19]:
T = 23,34,45,56,23,32,45
new_list = list(T)
print(new_list)
print(type(T))
print(type(new_list))

[23, 34, 45, 56, 23, 32, 45]
<class 'tuple'>
<class 'list'>

In [27]:
t = 34,5434,354,343,"python","data science"
new_str = str(t)
print(new_str)
print(type(t))
print(type(new_str))

(34, 5434, 354, 343, 'python', 'data science')
<class 'tuple'>
<class 'str'>

In [2]:
s = [1,2,3,1,2,3,4,7]
print(type(s))
print(s)
t = set(s)
print(type(t))
print(t)
l = list(t)
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 1, 2, 3, 4, 7]
<class 'set'>
{1, 2, 3, 4, 7}
<class 'list'>
[1, 2, 3, 4, 7]

<font size = "5">**4. Dictonaries**

**Defination:** A dictonary maps **unique , mutable keys** to values.

- Mutable Data Types
- Fast Lookups
- Preserves insertion Order

**Creating Dictonaries**

In [29]:
person = {"Name":"Pankaj" , "Role":"Data Scientist"}
pairs = dict([("x",1) , ("y",2)])
print("person :",person)
print("pairs :",pairs)

person : {'Name': 'Pankaj', 'Role': 'Data Scientist'}
pairs : {'x': 1, 'y': 2}

**4.1. Dictonary Methods**

**4.1.1. len()**

In [35]:
d = {"a":1 , "b":2}
print("Length of the Dictonary :",len(d))

Length of the Dictonary : 2

In [37]:
names = {"pankaj":45 , "raja":56 , "neeraj":64 , "mohit":67}
a = len(names)
print("Length of Dictonary :",a)

Length of Dictonary : 4

**4.1.2. Acess:[] vs get()**

In [1]:
d = {"name":"Mayank" , "age":45}
print("name :",d["name"])
print("Age will be :",d.get("age"))
print("Salary will get :",d.get("salary")) 
# When we print the value which is not given to the dictonary then output will be "none".

name : Mayank
Age will be : 45
Salary will get : None

**4.1.3. Insert/Update**

In [63]:
d = {}
d["language"] = "Python"
d["year"] = 1991
print("After assignment :",d)

After assignment : {'language': 'Python', 'year': 1991}

In [65]:
print(d)

{'language': 'Python', 'year': 1991}

**4.1.4. update()**

In [68]:
d = {"a":1 , "b":2}
d.update({"a":10 , "b":20})
print("After update :",d)

After update : {'a': 10, 'b': 20}

**4.1.5. pop()**

In [3]:
d = {"a":1 , "b":2 , "c":3 , "d":4 , "e":5}
val = d.pop("a")
print("Popped a :",val," dictonary now :",d)

Popped a : 1  dictonary now : {'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [4]:
print("After popped 'a' :",d)

After popped 'a' : {'b': 2, 'c': 3, 'd': 4, 'e': 5}

**4.1.6. popitem()**

In [39]:
d = {"x":1 , "y":2 , "z":3 , "a":4}
item = d.popitem()
print("Popped item :",item,"dictonary now :",d)

Popped item : ('a', 4) dictonary now : {'x': 1, 'y': 2, 'z': 3}

In [8]:
print(type(item))

<class 'tuple'>

**4.1.7.clear()**

In [13]:
d = {"a":1 , "b":2 , "c":3 , "d":4}
d.clear()
print("After clear :",d)

After clear : {}

**4.1.8.keys() , values() , items()**

In [16]:
d = {"name": "Nishi" , "role":"data scientist" , "age":23 , "address":"Haldwani"}
print("keys :",list(d.keys()))
print("values :",list(d.values()))
print("items :",list(d.items()))

keys : ['name', 'role', 'age', 'address']
values : ['Nishi', 'data scientist', 23, 'Haldwani']
items : [('name', 'Nishi'), ('role', 'data scientist'), ('age', 23), ('address', 'Haldwani')]

**str.strip()**

In [2]:
s = "  hello  "
print(s.strip())
# "hello" <- spaces removed from both sides

hello