<b>_for loop_<b>

A for loop is used to repeat a block of code a specific number of times, or for each item in a sequence (like a list , string ,etc).

In [ ]:
# Syntax
for vairable in sequence:
    # code block (indented)

In [6]:
# Example 1
fruits = ["apple" , "banana" , "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [8]:
# Example 2
fruits = ["apple" , "banana" , "cherry"]

for fruit in fruits:
    print(fruit,end = " ")

apple banana cherry

<b>_using range with for loop_<b>

range(start , stop , step)  is often useth with for to repeat something multiple time.

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for i in range(-10,-5,2):
    print(i)

-10
-8
-6

In [18]:
for i in range(-10,-5):
    print(i)

-10
-9
-8
-7
-6

<b>_nested for loop_<b>

A nested for loop is when one for loop is inside another.

In [ ]:
# Syntax
for i in outer_loop:
    for j in inner_loop:
        # Code block

In [20]:
# Outer loop will work in coloumn
# Inner loop will work in row

In [22]:
for i in range(3): # Outer loop runs 3 times.
    for j in range(2): # Inner loop runs 2 times for each outer
        print(f"i={i}, j ={j}")

i=0, j =0
i=0, j =1
i=1, j =0
i=1, j =1
i=2, j =0
i=2, j =1

<b>_building loop skills_<b>

In [24]:
# Right Angled Triangle 

rows = 5

for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

In [28]:
rows = 5
for i in range(rows + 1,0,-1):
    print("*" * i)

******
*****
****
***
**
*

In [13]:
rows = 5
for i in range(1,rows + 1):
    print((rows - i)*" ",end="")
    print("*"*i)

    *
   **
  ***
 ****
*****

In [36]:

rows = 5

for i in range(1,rows + 1):
    for j in range(1 , i + 1):
        print(j)
    print()

1

1
2

1
2
3

1
2
3
4

1
2
3
4
5

In [87]:

rows = 5

for i in range(1,rows + 1):
    for j in range(1,i + 1):
        print(j , end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [43]:
rows = 5

for i in range(rows + 1 , 0 , -1):
    for j in range(1,i + 1):
        print(j)
    print()

1
2
3
4
5
6

1
2
3
4
5

1
2
3
4

1
2
3

1
2

1

In [40]:
rows = 5

for i in range(rows + 1 , 0 , -1):
    for j in range(1,i + 1):
        print(j , end = " ")
    print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [2]:
for i in [1,2,3]: # no of element in the iterable
    print(i)

1
2
3

In [21]:
names = ["Mamta", "Mayank","Tushar","Nishi","Priyanshu","Abdullah","Aayush","Suhail","Aarti"]
for x in range(5):
    print(names[x])

Mamta
Mayank
Tushar
Nishi
Priyanshu

In [3]:
names = ["Mamta", "Mayank","Tushar","Nishi","Priyanshu","Abdullah","Aayush","Suhail","Aarti"]
for x in names:
    print(x)

Mamta
Mayank
Tushar
Nishi
Priyanshu
Abdullah
Aayush
Suhail
Aarti

In [8]:
names = ["Mamta", "Mayank","Tushar","Nishi","Priyanshu","Abdullah","Aayush","Suhail","Aarti"]
for x in range(5):
    print(x)

0
1
2
3
4

In [9]:
# Print Each Letter in a Word
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

In [14]:
for x in range(5):
    print(x)
print("Hello World")

0
1
2
3
4
Hello World

In [20]:
y = 0
for x in range(5):
    y = y + x

print(y)
print(x)

10
4

In [19]:
y = 0
for x in range(5):
    y += 1

print(y)
print(x)

5
4

In [1]:
count = 0
device = "laptop"
for x in device:
    count += 1 # It will count the device lenght and add in count vairable.
print(count)

6

In [3]:
count = 0
device = "laptop"
for x in device:
    count = count + 1
print(count)

6

In [1]:
rows = 5

for i in range(1,rows + 1):
    print("*"*i)

*
**
***
****
*****

In [2]:
rows = 5

for i in range(rows , 0 , -1):
    print("*"*i)

*****
****
***
**
*

In [13]:
rows = 5
for i in range(1,rows + 1):
    print((rows - i)*" ",end="")
    print((2*i-1)*"*")

    *
   ***
  *****
 *******
*********

In [4]:


for i in range(5,4,-1):
    print(i*" *",end=" ")
    print("*")

 * * * * * *

In [6]:
rows = 5

for i in range(rows + 1 , 0 , -1):
    for j in range(1,i + 1):
        print(j , end = " ")
    print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [7]:
# Multiplication table 

num = 5
for i in range (1,11):
    print("5 * ",i,"=",5*i)

5 *  1 = 5
5 *  2 = 10
5 *  3 = 15
5 *  4 = 20
5 *  5 = 25
5 *  6 = 30
5 *  7 = 35
5 *  8 = 40
5 *  9 = 45
5 *  10 = 50

In [8]:

for i in range(5,4,-1):
    print(i*" *",end=" ")
    # print("*")

 * * * * *

In [22]:
for i in range(1,6):
    for j in range(1,7):
        print(" +",end="")
    print()

 + + + + + +
 + + + + + +
 + + + + + +
 + + + + + +
 + + + + + +

In [6]:
for i in range(0,6):
    print(i*" *")
    print(" *" * 6)

 * * * * * *
 *
 * * * * * *
 * *
 * * * * * *
 * * *
 * * * * * *
 * * * *
 * * * * * *
 * * * * *
 * * * * * *

In [59]:
for i in range(1,5):
    for j in i:
        print("*",end=' ')
    print()
print("*  "*5)

TypeError: 'int' object is not iterable

In [4]:
i = 6
while i >= 0:
    print(i)
    i -= 1
print("Your counting is over >")

6
5
4
3
2
1
0
Your counting is over >

In [7]:
i  = 20
while i < 2*(i-2):
    print(i)  
    i -= 2

20
18
16
14
12
10
8
6

In [10]:

for i in range(5,4,-1):
    print(i*" *",end=" ")
    # if i ==

 * * * * * 5

In [11]:
for i in range(5,0,-1):
    print("8" * )

5
4
3
2
1

In [22]:
name = "pankaj"
password = 1234

for p in range(1,4):
    n = input("ENter the name")
    p = input("ENter the password")
if  n == "pankaj" and p == 1234:
    print("you have successfully login!")
else:
    print("Try again!")
        # for p in range(1,4):
        #     p = input("ENter the password again:")

ENter the name pankaj
ENter the password 1234
ENter the name dsf
ENter the password asd
ENter the name fads
ENter the password f

Try again!

In [58]:
name = input("Enter name:")
password = int(input("Enter password in numbers:"))
if name == "pankaj" and password == 1234:
    print("You have login successfully!")
else:
    print("Wrong password!")
    for name in range(3): 
        name = input("Enter name again:")
        password = int(input("Enter password again:"))
        if name == "pankaj" and password == 1234:
            print("You have login successfully!")
            break
        else:
            print("Wrong password and username! Try again!")

Enter name: asdfa
Enter password in numbers: 232

Wrong password!

Enter name again: adsga
Enter password again: 234

Wrong password and username! Try again!

Enter name again: pankaj
Enter password again: 1234

You have login successfully!

In [88]:

for i in range(5,0,-1):
    print(i*"* ",)
    if i == 5:
        print("*"," "*5,"*")
        print("*"," "*5,"*")
        print("* "*5)
        break

* * * * *
*       *
*       *
* * * * *

In [89]:
# Outer loop will run  in coloumn 
# Inner loop will run in rows

In [4]:
rows = 5
for i in range(1,rows + 1):
    for j in range(1, i + 1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
rows = 5
for i in range(1,rows + 1):
    for j in range(1, i + 1):
        print(j)
        print()

1

1

2

1

2

3

1

2

3

4

1

2

3

4

5

In [8]:
rows = 5
for i in range(1,rows + 1):
    for j in range(1, i * 2):
        print(j,end = " ")
    print()

1
1 2 3
1 2 3 4 5
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [27]:
for i in range(5):
    for j in range(1,i + 1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *

In [59]:
for i in range(1,5):
    print(" "*(6 - i),end = "")
    print("*"*(i*2-1))
if i == 4:
    for i in range(1,6):
        print(" "*i,end="")
        print("*"*(9 - i*2),end="")
        print("*")

     *
    ***
   *****
  *******
 ********
  ******
   ****
    **
     *

In [14]:
for i in range(1,5):
    print(" "*(6 - i),end = "")
    print("*"*(i*2-1))

     *
    ***
   *****
  *******

In [47]:
for i in range(1,5):
    print(" "*i,end="")
    print("*"*(8 - i*2),end="")
    print("*")

 *******
  *****
   ***
    *

In [24]:
for i in range(5,0,-1):
    print((2*i-1)*"*",end="")
    print((i-1)*" ")

*********
*******
*****
***
*