### Function

- Function is the name of a block of code.

- **For Using The Function:** We need to call the function name.

In [4]:
print("Greeting from VijAI Robotics!")

Greeting from VijAI Robotics!

In [9]:
# Function defined create
def greet():
    print("Greeting from VijAI Robotics!")

greet() # Calling the function

Greeting from VijAI Robotics!

In [10]:
greet()

Greeting from VijAI Robotics!

In [11]:
print(greet())

Greeting from VijAI Robotics!
None

In [16]:
x = greet()
print(x)

Greeting from VijAI Robotics!
None

In [5]:
name1 = "Priyanshu"
name2 = "Mayank"
name3 = "Shreya"
print("Welcome",name1)
print("Greeting from VijAI Robotics!")
print("Welcome",name2)
print("Greeting from VijAI Robotics!")
print("Welcome",name3)
print("Greeting from VijAI Robotics!")

Welcome Priyanshu
Greeting from VijAI Robotics!
Welcome Mayank
Greeting from VijAI Robotics!
Welcome Shreya
Greeting from VijAI Robotics!

In [9]:
name1 = "Priyanshu"
name2 = "Mayank"
name3 = "Shreya"
print("Welcome",name1)
greet()
print("Welcome",name2)
greet()
print("Welcome",name3)
greet()

Welcome Priyanshu
Greeting from VijAI Robotics!
Welcome Mayank
Greeting from VijAI Robotics!
Welcome Shreya
Greeting from VijAI Robotics!

In [2]:
# def funciton_name(parameter1 , parameter2 , parameter3 , .......):


def greet_student(name):
    print("Welcome",name)
    print("Greeting from VijAI Robotics!")

name1 = "Priyanshu"
name2 = "Shreya"
name3 = "Mayank"

greet_student(name1)
greet_student(name2)
greet_student(name3)

Welcome Priyanshu
Greeting from VijAI Robotics!
Welcome Shreya
Greeting from VijAI Robotics!
Welcome Mayank
Greeting from VijAI Robotics!

In [37]:
course_name = "Data Science"
batch_timing = "10 AM"
print(course_name , batch_timing)

Data Science 10 AM

In [45]:
print(course_name , batch_timing)
greet_student("Nishi")

Data Science 10 AM
Welcome Nishi
Greeting from VijAI Robotics!

In [55]:
def greet_student():
    print("Hello world",name)

name = "tiger"
greet_student()

Hello world tiger

In [3]:
greet_student()

TypeError: greet_student() missing 1 required positional argument: 'name'

In [6]:
greet()

Greeting from VijAI Robotics!

In [4]:
print() # print() is built-in fucnction

In [29]:
type() # we can say parameter as argument and we have not given the parameter

TypeError: type() takes 1 or 3 arguments

In [8]:
def greet():
    print("Wecome to ABC!")
    
greet("Pankaj")

TypeError: greet() takes 0 positional arguments but 1 was given

In [38]:
def greet(name):
    print("Wecome to ABC!")
    
greet("Pankaj")

Wecome to ABC!

In [17]:
def greet(name):
    print("Wecome to ABC!")

greet("Pankaj")
greet()

Wecome to ABC!

TypeError: greet() missing 1 required positional argument: 'name'

In [30]:
def greet(name , ID):
    print("Wecome to ABC!")

greet("Pankaj" , "vij1")
greet("Pankaj")
greet()

Wecome to ABC!

TypeError: greet() missing 1 required positional argument: 'ID'

In [28]:
len()

TypeError: len() takes exactly one argument (0 given)

In [28]:
len()

TypeError: len() takes exactly one argument (0 given)

In [33]:
def greet(name , ID):
    print("Wecome to ABC!")
    print(name , ID)

greet("Pankaj" , "vij1")
greet("Suraj" , "vij3")

Wecome to ABC!
Pankaj vij1
Wecome to ABC!
Suraj vij3

In [34]:
def greet(name , ID):
    print("Wecome to ABC!")
    std_id = name + "_" + ID

greet("suraj" , "vij3")

Wecome to ABC!

In [37]:
def greet(name  , ID):
    print("Wecome",name,"to ABC!")
    std_id = name + "_" + ID
    print(std_id)

greet("Suraj" , "vij3")

Wecome Suraj to ABC!
Suraj_vij3

In [6]:
def enroll(name , ID):
    print(name,"is enrolled.")
    std_id = name + "_" + ID
    return std_id

name1 = "Priyanshu"
id1 = "vij1"
std_1 = enroll(name1,id1)
print(name1,"your student  is",std_1)

Priyanshu is enrolled.
Priyanshu your student is Priyanshu_vij1

In [3]:
x = 18
y = type(x)
print(y)
y

<class 'int'>

int

In [43]:
x = 18
print(type(x))

<class 'int'>

In [44]:
x = 18
type(x)

int

In [3]:
def enroll(name , ID):
    print(name,"is enrolled.")
    std_id = name + "_" + ID
    inst_name = "vijai Robotics"
    return std_id , inst_name

name1 = "Priyanshu"
id1 = "vij1"
print(enroll(name1,id1))
print(name1,"your student is",std_1)

Priyanshu is enrolled.
('Priyanshu_vij1', 'vijai Robotics')
Priyanshu your student is ('Priyanshu_vij1', 'vijai Robotics')

In [8]:
std_1 = enroll(name1,id1)
print(std_1)
print(name1,"your student is",std_1)
print(type(std_1))

Priyanshu is enrolled.
Priyanshu_vij1
Priyanshu your student is Priyanshu_vij1
<class 'str'>

In [4]:
enroll(name1,id1)

Priyanshu is enrolled.

('Priyanshu_vij1', 'vijai Robotics')

In [21]:
def enroll(name , ID):
    print(name,"is enrolled.")
    std_id = name + "_" + ID
    inst_name = "vijai Robotics"
    return std_id , inst_name

name1 = "Priyanshu"
id1 = "vij1"
a , b = enroll(name1,id1) # unpacking the tuple

print(a,"is your student.")
print(b,"is your institude.")

Priyanshu is enrolled.
Priyanshu_vij1 is your student.
vijai Robotics is your institude.

In [28]:
def enroll(name , ID):
    print(name,"is enrolled.")
    std_id = name + "_" + ID
    inst_name = "vijai Robotics"
    return std_id , inst_name
    
name1 = "Pankaj"
ID = "Vij1"

enroll(name1,ID)

Pankaj is enrolled.

('Pankaj_Vij1', 'vijai Robotics')

In [37]:
def enroll(name,ID):
    print(name,"is enrolled!")
    std_id = name + "_" + ID
    return std_id
   
name1 = "Tushar"
id1 = "vij1"
admin1 = enroll(name1,id1)
print(admin1)

Tushar is enrolled!
Tushar_vij1

In [18]:
enroll(name1,id1)

Tushar is enrolled!

'Tushar_vij1'

In [1]:
def enroll(name,ID):
    print(name,"is enrolled!")
    std_id = name + "_" + ID
    return std_id
  
name1 = "Tushar"
id1 = "vij1"
admin1 = enroll(name1,id1)

name2 = "Nishi"
id2 = "vij2"
admin2 = enroll(name2,id2)

name3 = "Abdullah"
id3 = "vij3"
admin3 = enroll(name3,id3)

print("1",admin1)
print("2",admin2)
print("3",admin3)

Tushar is enrolled!
Nishi is enrolled!
Abdullah is enrolled!
1 Tushar_vij1
2 Nishi_vij2
3 Abdullah_vij3

In [33]:
z = print("Hello world")
print(z)

Hello world
None

In [34]:
print(print("Hello world"))

Hello world
None

In [14]:
None # None is a data type

In [35]:
print(print(print("Hello world")))

Hello world
None
None

In [15]:
print(print(print()))

None
None

In [12]:
None

In [13]:
print(None)

None

In [17]:
print(print("hello world"))

hello world
None

In [19]:
def sum(a,b,c):
    return a + b + c

x = 23
y = 67.5
z = 34.2

sum_of_num = sum(x,y,z)
print(sum_of_num)

124.7

In [36]:
# This function is used to enroll new student 
def enroll_students():
    name = input("Enter the name of the student:")
    enrollment_date = input("Enter the date of enrollment:d")
    student_id = name + "_" + "vij2025"
    return name , enrollment_date , student_id

enroll_students()

Enter the name of the student: Pankaj
Enter the date of enrollment:d 12/09/2025

('Pankaj', '12/09/2025', 'Pankaj_vij2025')

In [21]:
name1 , enroll_date1 , std_id1 = enroll_students()

Enter the name of the student: Pankaj
Enter the date of enrollment:d 12/9/2025

In [25]:
print("Student name:",name1)
print("Enrolled date of student:",enroll_date1)
print("Student id :",std_id1)

Student name: Pankaj
Enrolled date of student: 12/9/2025
Student id : Pankaj_vij2025

In [30]:
def enroll_students():
    name = input("Enter the name of the student:")
    enrollment_date = input("Enter date of enrollment:")

    if enrollment_date[6:] == "2025":
        student_id = name + "_" + "vij2025"
    else: 
        student_id = name + "_" + "vij2024"

    return name,enrollment_date,student_id 

name2 , enroll_date_2 , std_id2 , = enroll_students()

Enter the name of the student: suhel
Enter date of enrollment: 12/09/2024

In [32]:
print(name2,enroll_date_2,std_id2)

suhel 12/09/2024 suhel_vij2024

In [35]:
name3 , enroll_date_3 , std_id3 = enroll_students()
print(name3,enroll_date_3,std_id3)

Enter the name of the student: Shreya
Enter date of enrollment: 12/09/2025

Shreya 12/09/2025 Shreya_vij2025

In [52]:
# code for students eligibility for the nation team
def students():
    name = input("Enter the student name:")
    age = int(input("Enter the age:"))

    if age > 15 and age < 19:
        student_age = "is eligible for the nation team."
    else:
        student_age = "is not eligible for the nation team."

    return name , age , student_age

In [48]:
name1 , age1 , student_age1 = students()
print(name1,student_age1)

Enter the student name: pankaj
Enter the age: 23

pankaj  is not eligible for the nation team.

In [50]:
name2 , age2, student_age2 = students()
print(name2,student_age2)

Enter the student name: Aayush
Enter the age: 13

Aayush  is not eligible for the nation team.

In [3]:
# checking the valid name or not
def name():
    n = input("Enter the name:")

    if "vij25" in n:
        st = "valid name for vijai robotics.."
    else:
        st = "not a valid name."

    return n,st

In [4]:
n1 , st1= name()
print(n1 ,st1)

Enter the name: Pankajvij25

Pankajvij25 valid name for vijai robotics..

In [6]:
n2 , st2 = name()
print(n2 , st2)

Enter the name: Abdullah

Abdullah not a valid name.

In [2]:
def calculator():
    num1 = float(input("Enter the first number:"))
    num2 = float(input("Enter the second number:"))
    opt = input("Enter the operator (+,-,*,/):")

    if opt == "+":
        return num1 + num2
    elif opt == "-":
        return num1 - num2
    elif opt == "*":
        return num1 * num2
    elif opt == "/":
        return num1 / num2
    else:
        print("Invalid operator")

calculator()

Enter the first number: 56
Enter the second number: 6
Enter the operator (+,-,*,/): -

50.0

In [1]:
def calculator(n1,n2,ch):
   
    if opt == "+":
        return num1 + num2
    elif opt == "-":
        return num1 - num2
    elif opt == "*":
        return num1 * num2
    elif opt == "/":
        return num1 / num2
    else:
        print("Invalid operator")

num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
opt = input("Enter the operator (+,-,*,/):")

calculator(num1,num2,opt)

Enter the first number: 6
Enter the second number: 5
Enter the operator (+,-,*,/): =

Invalid operator

<font size = "6"><b>_Python Function_<b>

Python function are a block of elements that does a specific task. The ideas is to put some commonly or repeatedly done task together and make a function so that instead of writing the same code again and again for different inputs, we can do the functions call to reuse code contained in it over and over again.

 ***_Defining a Function_***

We can define a function in Python using the def keyword. We can add add any type of functionalities and properties to it as we require.

The ***def keyword*** stands for define. It is used to create a user-defined function. It marks the begining of a function block and allows you to goup a set of statements so they can be reused when the function is called.

Syntax:

def function_name(parameters):

      # function body
***Explaination***
- def starts the function defination.
- function_name : Name of the function.
- parameters : Input passed to the function (inside = ()), optional.
- Indented code : The function body that prints a welcome message when called.

***Calling a function***

After creating a function in Python we can call it by using the name of the functions followed by the parethesis containg parameters of that particular function.

In [1]:
def fun():
    print("Welcome to vijAI")

fun() # Deiver code to call the function

Welcome to vijAI

In [6]:
def add(n1 , n2):
    n3 = n1 + n2
    print(n3)

add(3,4)

7

In [1]:
def add( n1 , n2):
    n3 = n1 + n2
    print(n3)

add( 3,5)

8

In [4]:
add(9,5)

14