***lambda function***

It is also called anonymous function.

In [ ]:
# Syntax

lambda argus: expression


(lambda argus: expression)(value)

[sq = lambda argus: exp]
sq(8)

In [6]:
a = (lambda x : x ** 2)(3)
print(a)

9

In [7]:
(lambda x: print("Even") if x % 2 == 0 else print("Odd"))(8)

Even

***filter()***

In [ ]:
# Syntax 

filter(function , iterable)

In [19]:
# Program for adding even numbers in a new list

nums = [85, 12, 36, 71, 49]
n = []
for i in range(len(nums)):
    if nums[i] % 2 == 0:
        n.append(nums[i])
print(n)

[12, 36]

In [18]:
nums = [85, 12, 36, 71, 49]
s = []
for i in nums:
    if i % 2 == 0:
        s.append(i)
print(s)

[12, 36]

In [48]:
nums = [85, 12, 36, 71, 49]
def even_num(element):
    if element % 2 == 0:
        return True
filt_list = filter(even_num, nums)
print(list(filt_list))

[12, 36]

In [42]:
nums = [85, 12, 36, 71, 49]
filt_lst = filter(lambda a : True if a % 2 == 0 else False, nums)
print(list(filt_lst))

[12, 36]

In [39]:
nums = [85, 12, 36, 71, 49]
filt_lst = filter(lambda a : a % 2 == 0, nums)
print(list(filt_lst))

[12, 36]

In [46]:
city_name = ["Haldwani","Mumbai","Hyderabad","Delhi","Pune"]
new_list = []
for i in city_name:
    if i.startswith("H"):
        new_list.append(i)
print(new_list)

['Haldwani', 'Hyderabad']

In [50]:
def selecting_cities(city):
    return city.startswith("H")


selecting_cities("London")

False

In [51]:
city_name = ["Haldwani","Mumbai","Hyderabad","Delhi","Pune"]
filtered_cities = list(filter(selecting_cities, city_name))
print(filtered_cities)

['Haldwani', 'Hyderabad']

In [53]:
# Filter function will pass each element to the list city_name one-by-one to the function "selecting_cities()"
# For the elements of the lict city_names for which "selecting_cities()" return True are appeneded to the new list "filtered_cites"

In [54]:
def selecting_cities(city):
    return True


city_name = ["Haldwani","Mumbai","Hyderabad","Delhi","Pune"]
filtered_cities = list(filter(selecting_cities, city_name))
print(filtered_cities)

['Haldwani', 'Mumbai', 'Hyderabad', 'Delhi', 'Pune']

In [56]:
print(city_name)
print(filtered_cities)

['Haldwani', 'Mumbai', 'Hyderabad', 'Delhi', 'Pune']
['Haldwani', 'Mumbai', 'Hyderabad', 'Delhi', 'Pune']

In [59]:
def selecting_cities(city):
    return False


city_name = ["Haldwani","Mumbai","Hyderabad","Delhi","Pune"]
filtered_cities = list(filter(selecting_cities, city_name))
print(filtered_cities)

[]

In [67]:
def selecting_cities(city):
    return  city.startswith("D") and city.endswith("i")
        


city_name = ["Haldwani","Hyderabad", "Delhi", "Benguluru", "San Francisco","Shanghai", "Dubai"]
filtered_cities = list(filter(selecting_cities, city_name))
print(filtered_cities)

['Delhi', 'Dubai']

In [70]:
def selecting_cities(city):
    return (city.endswith("i") and city.startswith("D")) or len(city) > 8
        


city_name = ["Haldwani","Hyderabad", "Delhi", "Benguluru", "San Francisco","Shanghai", "Dubai"]
filtered_cities = list(filter(selecting_cities, city_name))
print(filtered_cities)

['Hyderabad', 'Delhi', 'Benguluru', 'San Francisco', 'Dubai']

In [101]:
def selecting(c):
    if type(c) == int and c > 100:
        return True
    elif type(c) == str and len(c)>8:
        return True
    else:
        return False
           

        

c = ["Haldwani",234 , "Hyderabad",3, 101, 23,  "Delhi", "Benguluru",4 , "San Francisco","Shanghai", "Dubai"]
filtered = list(filter(selecting , c))
print(filtered)

[234, 'Hyderabad', 101, 'Benguluru', 'San Francisco']

In [82]:
c = ["Haldwani",234 , "Hyderabad",3, 101, 23,  "Delhi", "Benguluru",4 , "San Francisco","Shanghai", "Dubai"]
print(type(c))

<class 'list'>