***Revision for loop in Python***

_A for loop is used to repeat a block of code a specific number of times or for each item in a sequence (like a list , string , etc.)_

In [ ]:
# Syntax
for variable in sequence:
    # Code block idented

***Example 1***

In [4]:

fruits = ["Apple","Banana","Cherry"]
for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry

In [2]:
fruits = ["Apple","Banana","Cherry"]
for fruit in fruits:
    print(fruit , end= " ")

Apple Banana Cherry

In [5]:
fruits = ["Apple","Banana","Cherry"]
for fruit in fruits:
    print(fruit,end="\n")

Apple
Banana
Cherry

In [6]:
fruits = ["Apple","Banana","Cherry"]
for fruit in fruits:
    print(fruit,end="$$$")

Apple$$$Banana$$$Cherry$$$

***Example 2***

In [12]:
 for i in range(1,6):
    for j in range(1,7):
        print(f"{i*j:2}",end=" ")
    print()

 1  2  3  4  5  6
 2  4  6  8 10 12
 3  6  9 12 15 18
 4  8 12 16 20 24
 5 10 15 20 25 30

***Example 3***

In [4]:

size = 5
for i in range(size):
    for j in range(size):
        if i == 0 or i == size - 1 or j == 0 or j == size - 1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [2]:

size = 5
for i in range(size):
    for j in range(size):
        print(j,end="")
        if i == 0 or i == size - 1 or j == 0 or j == size - 1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

0* 1* 2* 3* 4*
0* 1  2  3  4*
0* 1  2  3  4*
0* 1  2  3  4*
0* 1* 2* 3* 4*

In [26]:
for i in range(5,0,-1):
    print(i*"* ")
    if i == 5:
        print("*"," "*5,"*")
        print("*"," "*5,"*")
        print(5*"* ")
        break

* * * * *
*       *
*       *
* * * * *

***ðŸ§  Pro Tip to Practice:***

In [ ]:


Start with:

for i in range(n):
    for j in range(m):
        print("?", end=" ")
    print()


Then change:

? â†’ *, i, j, i*j, etc.

Add if conditions for borders, diagonals, triangles

Vary n and m for shape

***Example 4***

In [28]:
password = "python123"
user_input = ""

while user_input != password:
    user_input = input("Enter the password: ")

print("Access granted âœ…")

Enter the password:  fghg
Enter the password:  ghikjx
Enter the password:  dzfbg
Enter the password:  za
Enter the password:  python123

Access granted âœ…

In [30]:
user = input("Enter password:")
while user != "python123":
    user = input("Enter password again:")
print("Access granted âœ…")

Enter password: ajfhsag
Enter password again: agasg
Enter password again: dafsG
Enter password again: python123

Access granted âœ…

***while loop with break***

You can exit a loop early using break.

In [32]:
i = 1
while True:
    print(i)
    i += 1
    if i == 5:
        break

1
2
3
4

***Example 5 : Sum of number until 0 is entered.***

In [37]:
total = 0
user = ""
while user != 0:
    user = int(input("Enter the number (0 to stop):"))
    total = total + user
print("Total sum:",total)

Enter the number (0 to stop): 5
Enter the number (0 to stop): 5
Enter the number (0 to stop): 5
Enter the number (0 to stop): 0

Total sum: 15

***Example 6 :Write a program that multiples two integer numbers without using * operator, using repeated addition.***

In [2]:

n1 = int(input("Enter first number:"))
n2 = int(input("Enter second number:"))
product = 0
count = n1
while count > 0:
    count = count - 1
    product = product + n2 
print("The product of",n1,"and",n2,"is",product)

Enter first number: 56
Enter second number: 4

The product of 56 and 4 is 224

In [3]:

n1 = int(input("Enter first number:"))
n2 = int(input("Enter second number:"))
product = 0
for i in range(n1):
    product += n2
print("The product of",n1,"and",n2,"is",product)

Enter first number: 56
Enter second number: 1

The product of 56 and 1 is 56

| Use Case                      | Why `while` is useful                                     |
| ----------------------------- | --------------------------------------------------------- |
| User input until correct      | Loops until user gives valid input                        |
| Retry operations              | Retry downloading or connecting until successful          |
| Infinite loops (with `break`) | Useful in games, UI, bots, etc.                           |
| Polling or waiting            | Wait for a condition to become true (like a sensor value) |
| Simulations                   | Run steps until a condition (e.g., no more data)          |

#### while vs for loop: When to use what?
| Loop Type | When to Use                                               |
| --------- | --------------------------------------------------------- |
| `for`     | When you know how many times to loop                      |
| `while`   | When you **donâ€™t know** in advance (depends on condition) |

***while loop patern***

In [2]:
i = 1
rows = 5
while i <= rows:
    print(i*"*")
    i += 1

*
**
***
****
*****

***Example 7***

In [3]:
rows = 5
i = 1

while i <= rows:
    j = 1
    while j <= i:
        print(j,end=" ")
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
i = 5
rows = 1
while i >= rows:
    print(i*"*")
    i -= 1

*****
****
***
**
*

***Example 8***

In [6]:
rows = 5
i = 1

while i <= rows:
    spaces = rows - 1
    stars = i

    j = 1
    while j <= spaces:
        print(" ",end="")
        j += 1

    k = 1
    while k <= stars:
        print("*",end="")
        k += 1

    print()
    i += 1

    *
    **
    ***
    ****
    *****

In [1]:
rows = 5
i = 1
while i <= rows:
    spaces = rows - i
    stars = i

    j = 1
    while j <= spaces:
        print(" ",end = "")
        j += 1

    k = 1
    while k <= stars:
        print("*",end="")
        k += 1

        
    print()
    i += 1

    *
   **
  ***
 ****
*****

In [4]:
rows = 5
i = 1

while i <= rows:
    spaces = rows - i
    stars = i

    j = 1
    while j <= spaces:
        print(" ", end="")
        j += 1

    k = 1
    while k <= stars:
        print("*", end="")
        k += 1

    print()
    i += 1

    *
   **
  ***
 ****
*****

***Example 9***

In [21]:
rows = 3
i = 1
while i <= rows:
    spaces = rows - i
    stars = 2 * i -1

    print(" "*spaces,"*"*stars)
    i += 1

i = rows - 1
while i >= 1:
    spaces = rows - i
    stars = i * 2 -1

    print(" "*spaces,"*"*stars)
    i -= 1

   *
  ***
 *****
  ***
   *

In [2]:
rows = 4
i = 1

while i <= rows:
    spaces = rows - i
    stars = 2 * i -1
    print(" "*spaces,"*"*stars)
    i += 1
    
i = rows - 1
while i >= 1:
    spaces = rows - i
    stars = i * 2 - 1

    print(" "*spaces ,"*"*stars)
    i -= 1

    *
   ***
  *****
 *******
  *****
   ***
    *

<font size="5"><b>***Pattern Game***<b>

***Level 1: Invert the 1s and 0s***

In [36]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        j += 1
        if (i + j) % 2 == 0:
            print("0",end= " ")
        elif(i + j) != 0:
            print("1", end=" ")
            
    print()
    i += 1

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [38]:
rows = 7
i = 1
while i <= rows:
    j = 1
    while j + 1 <= i:
        j += 1
        if (i + j) % 2 == 0:
            print("0",end= " ")
        elif(i + j) != 0:
            print("1", end=" ")
            
    print()
    i += 1

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0
1 0 1 0 1 0

***Level 2: Left-aligin same patten but dashes instead of numbers***

In [44]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("-",end=" ")
        j += 1
    print()
    i += 1

-
- -
- - -
- - - -
- - - - -

***Level 3: Pattern of even numbers***

In [53]:
rows = 6
i = 2
while i <= rows:
    j = 1
    while j < i:
        print(j* 2,end=" ")


        j += 1
    print()
    i += 1

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

***Level 4: Floyd's Triangle***

In [4]:
row = 5
count = 1
for i in range(1,row + 1):
    for j in range(1, i + 1):
        print(count,end=" ")
        count += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [5]:
row = 5
i = 1
count = 1
while i <= row:
    j = 1
    while j <= i:
        print(count ,end=" ")
        count += 1
        j += 1
    print()
    i += 1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [22]:
if (i + j) % 2 == 0:
    print("0", end=" ")
else:
    print("1", end=" ")

0

<font size= "5">***revision function***

In [24]:
def evenOdd(x):
    if (x % 2 == 0):
        return "Even"
    else:
        return "Odd"

print(evenOdd(17))
print(evenOdd(0))

Odd
Even

***1. default argumnet***

A default argument is a parameter that assumes a default value if a value is not provided in the function call for that argument.

In [25]:
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)

myFun(10)

x:  10
y:  50

***2. keyword argumnet***

In keyword arguments, values are passed by explicitly specifying the parameter names, so the order doesnâ€™t matter.

In [32]:
def student(fname, lname):
    print(fname, lname)

student(fname='vijAI', lname='Practice')
student(lname='Practice', fname='vijAI')

vijAI Practice
vijAI Practice

In [7]:
def abc(a , b):
    print(a,b)
    

abc(a = 12,b = 45)
abc(b = 45,a = 12)

12 45
12 45

***3. positional argumnet***

In positional arguments, values are assigned to parameters based on their order in the function call.

In [37]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)

print("Case-1:")
nameAge("Suraj", 27)

print("\nCase-2:")
nameAge(27, "Suraj")

Case-1:
Hi, I am Suraj
My age is  27

Case-2:
Hi, I am 27
My age is  Suraj

In [38]:
def student(name , marks):
    print("Name:",name)
    print("Marks:",marks)


print("First student!")
student("pankaj",45)

print("\nSecond student!")
student("raja",100)

First student!
Name: pankaj
Marks: 45

Second student!
Name: raja
Marks: 100

***4. arbitary argumnet***

_In Python Arbitrary Keyword Arguments, *args and **kwargs can pass a variable number of arguments to a function using special symbols. There are two special symbols:_

_<b>*args in Python (Non-Keyword Arguments)
**kwargs in Python (Keyword Arguments)<b>_
This code separately shows non-keyword (*args) and keyword (**kwargs) arguments in the same function._

In [40]:
def myFun(*args, **kwargs):
    print("Non-Keyword Arguments (*args):")
    for arg in args:
        print(arg)

    print("\nKeyword Arguments (**kwargs):")
    for key, value in kwargs.items():
        print(f"{key} == {value}")

# Function call with both types of arguments
myFun('Hey', 'Welcome', first='Geeks', mid='for', last='Geeks')

Non-Keyword Arguments (*args):
Hey
Welcome

Keyword Arguments (**kwargs):
first == Geeks
mid == for
last == Geeks

In [5]:
def myfun(*args , **kwargs):
    print('Non-keyword arguments (*args):')
    for arg in args:
        print(arg)

    print("\nKeyword arguments (**kwargs):")
    for key,value in kwargs.items():
        print(f"{key} == {value}")

myfun("Hey","Welcome","happy",a = 1)

Non-keyword arguments (*args):
Hey
Welcome
happy

Keyword arguments (**kwargs):
a == 1

***Function with function***

A function defined inside another function is called an inner function (or nested function). It can access variables from the enclosing functionâ€™s scope and is often used to keep logic protected and organized.

In [30]:
def f1():
    s = 'I love Python'
    def f2():
        print(s)
        
    f2()
f1()

I love Python

***Anonymous Functions***

In Python, an anonymous function means that a function is without a name. As we already know the def keyword is used to define the normal functions and the lambda keyword is used to create anonymous functions.

In [18]:
def cube(x):
    return x*x*x   # without lambda
cube_l = lambda x : x*x*x  # with lambda

print(cube(3))
print(cube_l(9))

27
729

In [19]:
cube = lambda x : x*8
print(cube(2))

16

In [23]:
a = lambda x : x + x

In [26]:
print(a(3))

6

***return Statement in Function***

The return statement ends a function and sends a value back to the caller. It can return any data type, multiple values (packed into a tuple), or None if no value is given.

Syntax:

return [expression]

Parameters: return ends the function, [expression] is the optional value to return (defaults to None).

In [29]:
def square_value(num):
    """This function returns the square
    value of the entered number"""
    return num**2

print(square_value(0))
print(square_value(-4))

0
16

***Pass by Reference and Pass by Value***

In Python, variables are references to objects. When we pass them to a function, the behavior depends on whether the object is mutable (like lists, dictionaries) or immutable (like integers, strings, tuples).

Mutable objects: Changes inside the function affect the original object.

Immutable objects: The original value remains unchanged.

In [46]:
# Function modifies the first element of list
def myFun(x):
    x[0] = 20

lst = [10, 11, 12, 13]
myFun(lst)
print(lst)   # list is modified

# Function tries to modify an integer
def myFun2(x):
    x = 20

a = 10
myFun2(a)
print(a) # integer is not modified

[20, 11, 12, 13]
10

In [9]:
def myfunc(x):
    x[0] = 4

l = [1,23,12,76,90]
myfunc(l)
print(l)

def myfunc2(x):
    x = 4

a = 3
myfunc2(a)
print(a)

[4, 23, 12, 76, 90]
3

***Recursive Functions***

A recursive function is a function that calls itself to solve a problem. It is commonly used in mathematical and divide-and-conquer problems. Always include a base case to avoid infinite recursion.

In [12]:
def factorial(n):
    if n == 0:  
        return 1
    else:
        return n * factorial(n - 1) 
      
print(factorial(5))

120

In [2]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial (n - 1)

print(factorial(6))

720

In [3]:
n = int(input("Number:"))
a = n * factorial(n - 1)
print(a)

Number: 10

3628800

Here we have created a recursive function to calculate the factorial of the number. It calls itself until a base case (n==0) is met.

In [11]:
def fibonacci(n):
    if n < 0:
        raise ValueError("Input must be a non-negative integer.")
    elif n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)


print(fibonacci(5))

5

***List Comprehension***

List comprehension is a concise and powerful way to create new lists by applying an expression to each item in an existing iterable (like a list, tuple or range). It helps you write clean, readable and efficient code compared to traditional loops.

Suppose you want to square every number in a list:

In [18]:
a = [2,4,6,8]
s = [val ** 2 for val in a]
print(s)

[4, 16, 36, 64]

In [19]:
a =[2,1,45,56,4]
s = [val * 2 for val in a]
print(s)

[4, 2, 90, 112, 8]

##### Explanation:res = [val ** 2 for val in a] use list comprehension to create a new list by squaring each number in a.

##### Parameters: 

- expression: operation or value to include in the new list.
  

- item: current element from the iterable.

- iterable: sequence like a list, tuple or range.

- if condition (optional): filter to include only items that satisfy the condition.

#### Why Use List Comprehension?
- Cleaner code: Combines looping, filtering and transformation in one line.
- More readable: Avoids verbose loops and temporary variables.
- Faster execution: Often faster than equivalent for-loops.


#### For Loop vs. List Comprehension

A for loop takes multiple lines to build a new list by iterating and appending each item manually. List comprehension does same in just one line, making code shorter and easier to read.

Hereâ€™s an example to double each number in a list:

Using For loop

In [20]:
a = [1, 2, 3, 4, 5]
res = []
for val in a:
    res.append(val * 2)
print(res)

[2, 4, 6, 8, 10]

In [22]:
a = [1,23,4,3,2,8]
res = []
for val in a:
    res.append(val*5)
print(res)

[5, 115, 20, 15, 10, 40]

Using List Comprehension

In [23]:
a = [12,3,2,1,34,3,6]
res = [val * 5 for val in a]
print(res)

[60, 15, 10, 5, 170, 15, 30]

***Using if-else Inside List Comprehension***

In [25]:
lst = [1,2,3,4] 
result = ["Even" if n % 2 == 0 else "Odd" for n in lst]
print(result)

['Odd', 'Even', 'Odd', 'Even']

***Using if Condition Only (Without else)***

In [29]:
lst = [1,2,3,4]
result = [n for n in lst  if n % 2 == 0]
print(result)

[2, 4]

***Nested if-else in List Comprehension***

Handle multiple conditions with nested logic. Using Nested if-else in List allows chaining of if-else conditions. It categorizes each number based on whether it is divisible by 2, 3, or neither.

In [5]:
a = [1,2,3,4,6,8]

lst = ["Divided by 2" if n % 2 == 0 else "Divided by 3" if n % 3 == 0 else "Other" for n in a] 
print(lst)

['Other', 'Divided by 2', 'Divided by 3', 'Divided by 2', 'Divided by 2', 'Divided by 2']

##### Explanation: [val for val in a if val % 2 == 0] selects only even numbers from list a.



##### Examples of list comprehension
***1. Creating a list from a range***
One can quickly create a list of numbers within a specific range using list comprehension. This example generates numbers from 0 to 9 and stores them in a list.

In [3]:
a = [i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

***2. Using nested loops***


A list of all coordinate pairs in a 3x3 grid can be generated by combining two loops inside a list comprehension. This example produces every possible (x, y) pair where both x and y range from 0 to 2.

In [7]:
a = [(i,j) for i in range(3) for j in range(3)]
print(a)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

### Explanation:

- mat is a list of lists (a 3x3 matrix).

- [val for row in mat for val in row] goes through each sublist (row) and then each value (val) inside it.

- It collects all values into a single flat list.

***3. Flattening a list of lists***


A nested list (matrix) can be transformed into a single flat list by iterating through each sublist and its elements. This example flattens a 3x3 matrix into one continuous list of values.

In [9]:
mat = [[1,2,3],[4,5,6],[7,8,9]]
res = [val for row in mat for val in row]
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

***Explanation:***

mat is a list of lists (a 3x3 matrix).
[val for row in mat for val in row] goes through each sublist (row) and then each value (val) inside it.
It collects all values into a single flat list.

#### filter() in python

 filter() function is used to extract elements from an iterable (like a list, tuple or set) that satisfy a given condition. It works by applying a function to each element and keeping only those for which function returns True.

##### Basic Example 1
This simple example shows how to keep only the words starting with the letter 'a' from a list of fruits.

In [16]:
def starts_a(n):
    return n.startswith("a")

s = ["apple","banana","cherry","apricot","mango","avocado"]
res = filter(starts_a , s)
print(list(res))

['apple', 'apricot', 'avocado']

In [23]:
def numbers(n):
    return 1 in n


nums = [12,1,354,3,33,1,6,7,5,1,1]
res = filter(numbers,nums)
print(numbers(res))    # This will show error because integer are not iterable

TypeError: argument of type 'int' is not iterable

##### Explanation: function starts_a checks if a word begins with 'a' and filter() applies this function to each fruit and returns only matching ones.

##### Syntax
filter(function, iterable)

###### Parameters:

- function: tests each element and if return, True - Keep the element, if False - Discard the element
iterable: Any iterable (list, tuple, set, etc.).
Return Value: A filter object (an iterator), which can be converted into a list, tuple, set, etc.

##### Examples of filter function
Let's explore some examples of filter() function and see how it is used.

- Example 1: Using filter() with a Named Function
This code defines a regular function to check if a number is even and then uses filter() to extract all even numbers from a list.

In [37]:
def even(n):
    return n % 2 == 0


num = [1,2,3,4,5,6,7,8,9]
res = filter(even , num)
print(tuple(res))  # Converted to tuple

(2, 4, 6, 8)

In [41]:
def even(n):
    return n % 2 == 0


num = (1,2,3,4,5,6,7,8,9)
res = filter(even , num)
print(set(res))   # Converted to set

{8, 2, 4, 6}

***Explanation***

- even function checks if a number is divisible by 2- .

- filter() applies this function to each item in - a.

- Only even numbers are included in output

***Example 2: Using filter() with lambda function***

In [44]:
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x % 2 == 0, a)
print(list(b))

[2, 4, 6]

***Example 3: Filtering and Transforming Data***




In this Example lambda functions is used with filter() and map() to first get even numbers from a list and then double them.

In [6]:
s = [1,2,3,4,5,6]
res = filter(lambda x: x % 2 == 0,s)
a = map(lambda x: x * 2, res)
print(list(a))

[4, 8, 12]

In [7]:
a = ["apple", "banana", "cherry", "kiwi", "grape"]
b = filter(lambda x: len(x) > 5, a)
print(list(b))

['banana', 'cherry']

***Example 5: Filtering with None (Truthiness Check)***




This code uses filter() with None as the function to remove all falsy values (like empty strings, None and 0) from a list.

In [9]:
L = ["apple", "", None, "banana", 0, "cherry"]
a = filter(None , L)
print(list(a))

['apple', 'banana', 'cherry']

In [10]:
L = ["apple", "", None, "banana", 0, "cherry"]
a = filter(None , L)
print(tuple(a))

('apple', 'banana', 'cherry')

In [11]:
L = ["apple", "", None, "banana", 0, "cherry"]
a = filter(None , L)
print(set(a))

{'cherry', 'apple', 'banana'}

 ***Python map() function***


     
Last Updated : 07 Sep, 2025
map() function in Python applies a given function to each element of an iterable (list, tuple, set, etc.) and returns a map object (iterator). It is a higher-order function used for uniform element-wise transformations, enabling concise and efficient code.

Let's start with a simple example of using map() to convert a list of strings into a list of integers.

In [1]:
s = ['  hello  ', '  world ', ' python  ']
res = map(str.strip, s)
print(list(res))

['hello', 'world', 'python']

In [2]:
s = ['  hello  ', '  world ', ' python  ']
d = s.strip()

AttributeError: 'list' object has no attribute 'strip'

In [7]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= rows:
        if i == 1 or i == rows or j == 1 or j == rows:
            print("*",end= " ")
        else:
            print(" ",end=" ")
        j += 1
    print()
    i += 1

* * * * *
*       *
*       *
*       *
* * * * *

In [1]:
row = 5
for i in range(row):
    for j in range(row):
        if i == 0 or i == row - 1 or j == 0 or j == row - 1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [5]:
row = 5
for i in range(row):
    for j in range(row):
        print(j,end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [6]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= rows:
        print(j,end=" ")
        j += 1
    print()
    i += 1

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [8]:
row = 5
i = 1
while i <= row:
    j = 1
    while j <= i:
        if (i + j) % 2 == 0:
            print("1",end=" ")
        else:
            print("0",end=" ")
        j += 1
    print()
    i += 1

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [10]:
row = 5
for i in range(1,row + 1):
    for j in range(1, i + 1):
        if (i + j) % 2 == 0:
            print("1",end=" ")
        else:
            print("0",end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [13]:
row = 5
for i in range(1,row + 1):
    for j in range(1, i + 1):
        print("-",end=" ")
    print()

-
- -
- - -
- - - -
- - - - -

In [15]:
row = 5
i = 1
while i <= row:
    j = 1
    while j <= i :
        print("-",end=" ")
        j += 1
    print()
    i += 1

-
- -
- - -
- - - -
- - - - -

In [16]:
row = 5
for i in range(1, row + 1):
    for j in range(1,i + 1):
        print(j * 2,end=" ")
    print()

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [17]:
row = 5
i = 1
while i<= row:
    j = 1
    while j <= i:
        print(j * 2,end=" ")
        j += 1
    print()
    i += 1

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [18]:
count = 0
row = 5
for i in range(1,row + 1):
    for j in range(1,i + 1):
        count += 1
        print(count,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [19]:
count = 0
row = 5
i = 1
while i <= row:
    j = 1
    while j <= i:
        count += 1
        print(count , end=" ")
        j += 1
    print()
    i += 1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [24]:
def num(x):
    if x % 2 == 0:
        return x,"is even numberðŸ™†ðŸ»â€â™‚ï¸"
    else:
        return x,"is odd numberðŸ™‹ðŸ»â€â™€ï¸"


n = int(input("Enter the number:"))
num(n)

Enter the number: 456

(456, 'is even numberðŸ™†ðŸ»\u200dâ™‚ï¸')

In [22]:
def calc(x , y = 20):
    return "x:",x,"y:",y

a = calc(10,30)

In [23]:
print(type(a))
print(a)

<class 'tuple'>
('x:', 10, 'y:', 30)