 <font size = "5" > What is a <b> VARIABLE <b> ?

<font size = "5">A variable is a container that stores data in the memory of your computer.

<font size = "5"> <b>Syntax - <b>

<b>variable_ name = data to be stored<b>

You can store any data type in a variable.

In [31]:
print("Neeraj is in python batch")
print("Ayush is in ML batch ")
print("Nishi is in python batch ")
print("Suraj is in ML batch")

Neeraj is in python batch
Ayush is in ML batch
Nishi is in python batch
Suraj is in ML batch

In [2]:
print("Neeraj and Nishi are in python batch")
print("Ayush and Suraj are in ML batch")

Neeraj and Nishi are in python batch
Ayush and Suraj are in ML batch

In [3]:
print("Abdullah is in python batch")
print("Priyanshu is in python batch")
print("Pankaj is in ML batch")
print("Suhail is in ML batch")
print("Himanshu is in ML batch")

Abdullah is in python batch
Priyanshu is in python batch
Pankaj is in ML batch
Suhail is in ML batch
Himanshu is in ML batch

In [4]:
print("Abdullah and Priyanshu are in python batch ")
print("Pankaj , Suhail and Himanshu are in ML batch ")

Abdullah and Priyanshu are in python batch
Pankaj , Suhail and Himanshu are in ML batch

In [11]:
print(age1+age2)
print(age1-age2)

39
-11

In [13]:
std1 = "Neeraj"
std2 = "Nishi"
std3 = "Ayush"
std4 = "Suraj"
std5 = "Abdullah"
std6 = "Priyanshu"
std7 = "Pankaj"
std8 = "Suhail"

batch1 = "Python batch" 
batch2 = "ML batch"

print(std1 ,"is in ",batch1)
print(std2,"is in ",batch2)
print(std3,"is in ",batch1)
print(std4,"is in ",batch1)
print(std5,"is in ",batch2)
print(std6,"is in ",batch2)
print(std7,"is in ",batch2)
print(std8,"is in ",batch1)

Neeraj is in  Python batch
Nishi is in  ML batch
Ayush is in  Python batch
Suraj is in  Python batch
Abdullah is in  ML batch
Priyanshu is in  ML batch
Pankaj is in  ML batch
Suhail is in  Python batch

In [14]:
# integer
age1 = 14
age2 = 25

print(age1)
print(age2)

14
25

In [8]:
print(std3," is ",age1,"years old")

Ayush  is  14 years old

In [9]:
print(std3," is ",age1,"years old")

Ayush  is  14 years old

In [10]:
print(std5," is ",age2," years old ")

Abdullah  is  25  years old

In [18]:
height = 175.5
weight = 75.23
print("Height is ",height,"cm \nWeight is ",weight,"kg")

Height is  175.5 cm
Weight is  75.23 kg

In [1]:
# In the following cell syntax error is coming because a valid data type is not being stored in the variables.

In [46]:
height = 175.5  cm
weight = 75.23  kg
print("Height is ",height,"cm \nWeight is ",weight,"kg")

SyntaxError: invalid syntax (3926456403.py, line 1)

In [48]:
height = "175.5 cm"
weight = "75.23 kg"
print("Height is ",height,"\nWeight is ",weight)

Height is  175.5 cm
Weight is  75.23 kg

In [52]:
print(height)
print(weight)

175.5 cm
75.23 kg

In [53]:
bmi = (height/100)/(weight**2)
print("BMI is ",bmi)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [55]:
"175.5"/100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [56]:
175.5/100

1.755

In [59]:
# type() is used to check the data type
print(type(height))
print(type(weight))

<class 'str'>
<class 'str'>

In [1]:
Height = 175
print(type(Height))

<class 'int'>

In [2]:
height = 175.5
print(type(height))

<class 'float'>

In [3]:
height = float(175)

In [5]:
print(type(height))

<class 'float'>

In [6]:
print(height)

175.0

In [8]:
height = 175.0
print(type(height))
print(height)

<class 'float'>
175.0

In [12]:
print(str(height))

175.0

**Type Casting**

In [16]:
# int
height = 189
print(type(height))

<class 'int'>

In [14]:
# int - float()
height = float(height)
print(type(height))
print(height)

<class 'float'>
189.0

In [15]:
# float - str
height = str(height)
print(type(height))
print(height)

<class 'str'>
189.0

In [19]:
height = "height"
print(type(height))
print(height)

<class 'str'>
height

In [20]:
greeting = "hello world"
print(greeting)

hello world

In [22]:
# str - int
greeting = int(greeting)
print(greeting)

ValueError: invalid literal for int() with base 10: 'hello world'

In [25]:
# str - int
greeting = "123"
greeting = int(greeting)
print(type(greeting))
print(greeting)

<class 'int'>
123

In [38]:
1std = "Suhel"

SyntaxError: invalid decimal literal (2542541381.py, line 1)

In [37]:
std@1 = "Suhel"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3356722838.py, line 1)

In [30]:
std_1 = "Suhel"

In [33]:
STD2 = "Pankaj"

In [39]:
std? = "jdsfh"

SyntaxError: invalid syntax (1336628735.py, line 1)

<font size = 4> <b>Rules for naming in variables<b>
- A variable name must start with an alphabet or an underscore.
- A variable name cannot start with a number or amy special character ( @ , # , $ , % , ^ ).
- A variable name can only contain alphabets , numbers , and underscore.
- The use of special characters is prohibited.
- Variables names are case-sensitive in python.
- Python keywords cannot be used as variables names.

In [8]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [9]:
subject = "python"
print(SUBJECT)

NameError: name 'SUBJECT' is not defined

In [10]:
print(Subject)

NameError: name 'Subject' is not defined

<font size = "4"> <b>Important topics related to variables<b>

<font size = 4><b>1. Storing an expression in a variable.<b>

In [11]:
animal_1 = "c"+"a"+"t" # "c"+"a"+"t" is an expression
print(animal_1)

cat

In [15]:
animal_2 = "dog"
combined_animal = animal_1 + animal_2  # animal_1 + animal_2 is an expression
print(combined_animal)

catdog

In [17]:
new_variable = 12 + 34 # 12 + 34 is an expression
print(new_variable)

46

In [24]:
height = 175.2
weight = 78
BMI = weight/((height/100)**2)
print(BMI)

25.41127165822231

<font size = "5"><b>2. Storing one variable to another.<b>

In [26]:
x = 56
y = x
y

56

In [27]:
x

56

In [29]:
# Python case-sensitive 
a = 12
b = A

NameError: name 'A' is not defined

In [28]:
var_x = 12
var_z = var_y = var_x

print(var_y)
print(var_z)
print(var_x)

12
12
12

<font size = "5"><b>3. Multiple variable creation.<b>

In [ ]:
student_1 = "Gaurav"
student_2 = "Rohit"
student_3 = "Kartik"

In [30]:
std_1 , std_2 , std_3 = "Gaurav" , "Rohit" , "Kartik"

In [31]:
print(std_1)
print(std_2)
print(std_3)

Gaurav
Rohit
Kartik

In [32]:
std = "Kartik" = "Gaurav" = "Rohit"

SyntaxError: cannot assign to literal (1503967723.py, line 1)

We cannot assign multiple value in a variable.

In [45]:
num = 1 = 3 = 4

SyntaxError: cannot assign to literal (2300936041.py, line 1)

In [39]:
a , b , c = "python" , 45 , 67.8

In [38]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [42]:
name = "python" , "Hello world"
print(name)
print(type(name))

('python', 'Hello world')
<class 'tuple'>

In [20]:
print "std_1" + "std_2" + "std_3"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2770174022.py, line 1)

In [3]:
print=("std_1" , "std_2" , "std_3")# here print is assign as a variable
type(print)

tuple

In [4]:
print("std_1" + "std_2" + "std_3")

TypeError: 'tuple' object is not callable

In [7]:
print # here  we print the value of print

'std_1std_2std_3'

Now we restart the kernal ,so print is not variable ,now we can use print as funcrion.

In [1]:
print

In [2]:
print("std_1" + "std_2" + "std_3")

std_1std_2std_3

<font size = "5"><b>4. Reassigning a variable.<b>

In [1]:
user1_age = 20
print(user1_age)

20

In [3]:
user1_age = 45
print(user1_age)

45

In [4]:
user1_age = "forty five"
print(user1_age)

forty five

In [5]:
user1_age = 20
print(user1_age)

20

<font size = "5"><b>5. Constant Variables<b>

- To defined the values whoes value do not want to change in the whole program ,we  writes the name of that variable in the capital letters. This is a 
common practice but not enforced by python.

In [9]:
PI = 3.14 # Constant
print(PI)

3.14

It still possible to change the value of this constant variable.

In [10]:
PI = 1.28
print(PI)

1.28

<font size = "5"><b>6. Deleting Variable<b>

In [1]:
x = 10
print(x)

10

In [2]:
del x

In [3]:
print(x)

NameError: name 'x' is not defined

In [23]:
number = 45
name = "python"
print(number)
print(name)

45
python

In [24]:
del number , name

In [26]:
print(name) # It can delete variable

NameError: name 'name' is not defined

In [21]:
del "python" # del function cannot directly data

SyntaxError: cannot delete literal (2919451508.py, line 1)

In [27]:
a,b = 4,5
print(a,b)

4 5

In [28]:
del a,b

In [29]:
print(a)

NameError: name 'a' is not defined

In [30]:
print(b)

NameError: name 'b' is not defined

In [80]:
x = 10
y = 20
z = x + y
print(z)

30

In [81]:
del x

In [82]:
print(x)

NameError: name 'x' is not defined

In [85]:
print(z) # z is independent of x and y. It's existence is not defined on the existence of x and y,once z has created.

30

In [86]:
z = x + y # Here we defined z to x + y , but here x value is not defined , so there will be error.
print(z)

NameError: name 'x' is not defined

<font size = 5> <b>EXERCISE<b>

In [61]:
#  Write a program to swap the values of two variables var_1 and var_2

var_1 = 23
var_2 = 94

In [39]:
var_1 = 23
var_2 = 94

print("Value of var_1 before swapping:",var_1)
print("Value of var_2 before swapping:",var_2)

var_1 , var_2 = var_2 , var_1

print("value of var_1 after swapping:",var_1)
print("Value of var_2 after swapping:",var_2)

Value of var_1 before swapping: 23
Value of var_2 before swapping: 94
value of var_1 after swapping: 94
Value of var_2 after swapping: 23

In [42]:
var_1 = 23
var_2 = 94

var_1 , var_2 = var_2 , var_1

print(var_1)
print(var_2)

94
23

In [40]:
var_1 = 23
var_2 = 94


tem = var_1  # 23
var_1 = var_2 # 94
var_2 = tem # 23

print(var_1) # Now we print the values of var_1 and var_2.
print(var_2)

94
23

In [6]:
# Fix the code
is raining = True
weather-temp = 25
"city name" = "Delhi"

SyntaxError: invalid syntax (2814526890.py, line 2)

In [10]:
is_raining = True
weather_temp = 25
city_name = "Delhi"

In [9]:
a = is

SyntaxError: invalid syntax (2375687596.py, line 1)

In [19]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [23]:
a = "is"

In [18]:
x = "for"

In [22]:
True = "Hello world"

SyntaxError: cannot assign to True (730670495.py, line 1)

In [25]:
_True  = "Hello world"

In [26]:
true = "hello world"

In [27]:
True_ = "Hello world"

In [28]:
for = 123

SyntaxError: invalid syntax (609930878.py, line 1)

In [29]:
for_ = 123

In [30]:
for1 = 123

In [34]:
_ = 34
_

34

In [37]:

x = 10
y = 20
x = y
y = 30
print( x , y )

20 30

In [22]:

x = 10
y = 20
print( x , y )

10 20

In [24]:
x = y
y = 30
print( x , y )

30 30

In [53]:
x = 100
y = 200
print(x,y)

100 200

In [56]:
y = x/2
x = y/2
print(type(x))
print(str(x))
print(x,y)
print(type(x))

<class 'float'>
1.5625
1.5625 3.125
<class 'float'>

In [74]:
x = "2"
print(x)
print(type(int(x)))
print(type(x))

2
<class 'int'>
<class 'str'>

In [76]:
a = 5
b = a
a = b + 3
b = a - 2
c = a + b
print(c)
print(a)
print(b)

14
8
6

In [77]:
a = "45"
b = 89.00
c = int(a) + b

print(c)

134.0