<b>_while loop_<b>

While the condition is true , loop will be execute. If the condition is not true then code will not execute.

There will a condition which can stop the code. Otherwise it will be execute to the infinite.

In [5]:
x = 0
while x <= 10:
    print(x)
    x = x + 1

0
1
2
3
4
5
6
7
8
9
10

In [7]:
x = "Steve Jobs"
while len(x) < 20:
    print("Steve Jobs = Picasso + Edision")
    print(len(x))
    x = x + " "

Steve Jobs = Picasso + Edision
10
Steve Jobs = Picasso + Edision
11
Steve Jobs = Picasso + Edision
12
Steve Jobs = Picasso + Edision
13
Steve Jobs = Picasso + Edision
14
Steve Jobs = Picasso + Edision
15
Steve Jobs = Picasso + Edision
16
Steve Jobs = Picasso + Edision
17
Steve Jobs = Picasso + Edision
18
Steve Jobs = Picasso + Edision
19

In [46]:
print(len(x))
x

20

'Steve Jobs          '

In [ ]:
x = 1

while x < 5:
    print(x)
    x = x + 1

In [ ]:
# Infinte loop 

while True:
    print("Saransh")

In [47]:
# Program will not run because condition is False

while False:
    print("Steve")

In [9]:
a = 1
while a < 10:
    print("Python is very easy")
    print(a)
    a = a + 1

Python is very easy
1
Python is very easy
2
Python is very easy
3
Python is very easy
4
Python is very easy
5
Python is very easy
6
Python is very easy
7
Python is very easy
8
Python is very easy
9

In [49]:
names = ["Mamta","Mayank","Tushar","Nishi","Priyanshu","Abdullah","Aayush","Suhail","Aarti"]
for i in names:
    print(i)

Mamta
Mayank
Tushar
Nishi
Priyanshu
Abdullah
Aayush
Suhail
Aarti

In [50]:
# print all element of the list one by one using while loop

names = ["Mamta","Mayank","Tushar","Nishi","Priyanshu","Abdullah","Aayush","Suhail","Aarti"]
count = 0
while count < len(names):
    print(names[count])
    count += 1

Mamta
Mayank
Tushar
Nishi
Priyanshu
Abdullah
Aayush
Suhail
Aarti

In [51]:
for i in range (4,10):
    print(i)

4
5
6
7
8
9

In [52]:
s = 4
while s <= 9:
    print(s)
    s += 1

4
5
6
7
8
9

In [53]:
name = "pankaj"
count = 0
while count < len(name):
    print(name[count])
    count += 1

p
a
n
k
a
j

In [54]:
books = ["Discovery of India","Nexus","Sapiens","Gaban"]
count = 0
while count < len(books):
    print(books[count])
    count += 1

Discovery of India
Nexus
Sapiens
Gaban

In [55]:
books = ["Discovery of India","Nexus","Sapiens","Gaban"]
for x in range(len(books)):
    print(books[x])

Discovery of India
Nexus
Sapiens
Gaban

In [8]:
password = input("Enter the password:")
while password == "vijai@123":
    print("Password is correct.")
    if password != "vijai@123":
        password = input("Enter the password:")
    else:
        print("pass is correct")

Enter the password: ghflkgf

In [1]:
user = input("Enter the password:")
while user != "vijai@123":
    user = input("Enter the password again:")
print("Congratulation! your password is correct.")

Enter the password: dfths
Enter the password again: stghstgh
Enter the password again: sthysexty
Enter the password again: thysrthy
Enter the password again: sstytr
Enter the password again: ghstr
Enter the password again: vijai@123

Congratulation! your password is correct.

In [2]:
count = 0
while count < 6:
    print(count * "*")
    count += 1

*
**
***
****
*****

In [59]:
count = 6
while count > 0:
    print(count * "*")
    count -= 1

******
*****
****
***
**
*

In [6]:
count = 4
c = 0
while count > 0:
    while c < 5:
        print(count * " ",c*"*")
        count -= 1
        c += 1

    *
   **
  ***
 ****

In [11]:
names = ["Mamta","Mayank","Tushar","Nishi"]
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Mamta
Mayank
Tushar
Nishi

In [61]:
count = 4
c = 0
while count > 0:
    while c < 5:
        print(count * " ",c*"*")
        count -= 1
        c += 1

    *
   **
  ***
 ****

In [62]:
for i in range(4,0,-1):
    print(i*"*")

****
***
**
*

In [63]:
count = 0
while count < 5:
    print(" "*(5-count),end="")
    print((2*count - 1)*"*")
    count += 1

    *
   ***
  *****
 *******

In [67]:
count = 4
c = 1
while count > 0:
    while c < 5:
        print(count * " ",c*"*",end="")
        print("*"*(2*c-1))
        count -= 1
        c += 1

     **
    *****
   ********
  ***********

In [76]:
count = 8
while count > 0:
    # print("+"*count,end="")
    print("*"*(10-count*2))
    print(count)
    count -= 1

8

7

6

5
**
4
****
3
******
2
********
1

In [2]:
i = 1
while i <= 5:   # infinte loop
    print(i)

    i += 1

1
2
3
4
5

In [1]:
i = 6
while i <= 5:
    print(i)

<font size ="5"> <b>_while loop pattern exercise_<b>

_Pattern 1 : Print a Triangle of Stars_

In [1]:
rows = 5
i = 1
while i <= rows:
    print("*"*i)
    i += 1

*
**
***
****
*****

In [1]:
rows = 5
i = 1
while rows >= i:
    print("*"*rows)
    rows -= 1

*****
****
***
**
*

In [3]:
rows = 5
i = 1
while rows >= i:
    print("*"*rows,end=" ")
    rows -= 1

***** **** *** ** *

In [40]:
i = "python"
c = 6
while c >= 1:
    print(i)
    c -= 1

python
python
python
python
python
python

_Pattern 2 : Number in Triangle form_

In [27]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print(j,end = " ")
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print(j,end=' ')
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
print(j)
print(i)

6
6

In [9]:
rows = 5
i = 0

while i <= rows:
    print()
    i += 1
    
    j = 1
    while j <= i:
        print(j,end=" ")
        j += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [9]:
rows = 1
i = 5
while i >= rows:
    j = 1
    while i > j:
        print(j,end=" ")
        j += 1
    print(i)
    i -= 1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

<b>_Concept Role_<b>

- Outer loop controls the number of row (vertical dimension).
- Inner loop controls the character per row (horizontal dimension).
- print(end = " ") keeps printing in the same line.
- print() moves to the next line after a row is done.
- Logic in inner decide what to print * , numbers , spaces , etc.
- Condition (if) used for shapes like hollow boxes , diagonals , etc.

In [1]:
rows = 1
i = 5
while i >= rows:
    j = 1
    while i > j:
        print(j,end=" ")
        j += 1
    print(i)
    i -= 1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [1]:
i = 1
rows = 5
while i <= rows:
    print(i)
    i += 1

1
2
3
4
5

In [3]:
i = 1
rows = 5
while i <= rows:
    j = 1
    while j < i:
        print(j,end=" ")
        j += 1
    print(i)
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
i = 1
rows = 10
while i <= rows:
    print(4*i)
    i += 1

4
8
12
16
20
24
28
32
36
40

In [ ]:
i = 1
rows = 10
while i <= ():
    print(i)
    i += 1